.message-list {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.message-item {
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    max-width: 60%;
    display: inline-block;
}

.sent {
    align-self: flex-end;
    background-color: #dcf8c6;
    text-align: right;
}

.received {
    align-self: flex-start;
    background-color: #f1f0f0;
    text-align: left;
}

.reply-preview {
    font-size: 0.8em;
    color: gray;
    margin-bottom: 5px;
}

.message-content {
    word-wrap: break-word;
}

.reply-button {
    margin-left: 10px;
    padding: 5px 10px;
    cursor: pointer;
}


